@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
}

/* hero title */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0;
    color: #222; 
}

.hero h2 {
    font-size: 1.08rem;
    font-weight: 400;
    color: #343434;
    margin-top: 0.688rem;
    margin-bottom: 0;
}

/* navigation */
nav {
    margin-top: 2.5rem;
    margin: 2.5rem 12.727rem 0 8.5rem; 
    padding: 1rem 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

nav.text {
}

nav a {
    text-decoration: none;
    color: #222;
}

