{% extends 'base.html' %}

{% block content %}
    <header>
        {# title #}
        {% if source in ['bbc-news', 'bbc-sport', 'cbc-news', 'cnn', 'espn']%}
            <h1>
                {{ source.split('-')[0].upper() + ' News' }} Articles
            </h1>
        {% else %}
            <h1>
                {{ source.split('-')[0].title() + ' News' }} Articles
            </h1>
        {% endif %}
        {# subtitle #}
        {% if source in ['bbc-news', 'bbc-sport', 'cbc-news', 'cnn', 'espn']%}
            <h2>
                Below are the latest articles from {{ source.split('-')[0].upper() + ' News' }}.
                To read the article you find interesting, just click on it and you'll be taken
                to the source. 
            </h2>
        {% else %}
            <h2>
                Below are the latests articles from {{ source.split('-')[0].title() + ' News' }}.
                To read the article you find interesting, just click on it and you'll be taken
                to the source. 
            </h2>
        {% endif %}
    </header>

    {# articles #}
    <div class="articles">
    {% for article in articles %}
        <div class="article-card">
            <img src="{{ article.urlToImage }}" alt="">
            <div class="text">
                <h1>{{ article.title }}</h1>
                <h2>{{ article.description }}</h2>
                <h3>{{ simplify_date(article.publishedAt) }}</h3>
                <a href={{article.url}} target="blank">Read More</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
